
@media screen and (min-device-width: 1368px) and (max-device-width: 1920px) { 

.shop-faq-bg {
  height: 567px; 

}



}
@media (max-width:1900px) {
.grid li {
  width: 16%;
}
}

@media (max-width:1800px) {
.shoe-weight {
  width: 68%;
}	

.desktop-nav.pull-right {
  width: 64%;
}
.color.sort {
  width: 47%;
}
.slider-area .bx-controls {
  top: 82%;
}
.top-link {
  width: 34%;
}
.search-right {
  width: 60%;
}
.serach-area {
  width: 64%;
}
.wishlist-cross {
  padding: 10px;
  width: 3%;
}
}
@media (max-width:1700px) {
.leather-left p {
  font-size: 14px;
  line-height: 29px;
}
.desktop-nav.pull-right {
  width: 78%;
}
.shoe-weight {
  width: 62%;
}
.bxslider-pro li {
  margin-right: 0 !important;
  width: 361px !important;
}
.grid li {
  width: 16%;
}
.bxslider-pro li {
  width: 362px !important;
}
.related-product img {
  width: 100%;
}
.card {
  height: 251px;
}
.braided-main {
  min-height: 368px;
}
.view-bar {
  width: 12%;
}
.show-select {
  width: 23%;
}
.color.sort {
  width: 47%;
}
.women-nav {
  width: 27%;
}
.usp-text p {
  padding: 0;
}
.drish-story p {
  padding: 0;
}
.craftman-ship-title h1 {
  top: 77px;
}
.footer-socials li {
  width: 23.9%;
}
}
@media (max-width:1500px) {
.leather-left {
  padding: 0 30px 0 31px;
}
.leather-left.l-d {
  padding: 60px 42px 0 39px;
}
.leather-left p {
  font-size: 14px;
  line-height: 21px;
}
.shoe-weight {
  padding-right: 10px;
  width: 58%;
}
.wrapper-width {
  margin: 0 auto;
  width: 100%;
}
.bxslider-pro li {
  width: 300px !important;
}
.shop-faq-bg {
  height: 427px;
}
.usp-text h2 {
  font-size: 37px;
}
.usp-img span img {
  height: 400px;
}
.usp-img > span {
  margin-right: 30px;
}
.drish-story span {
  margin: 0 0 0 30px;
}
.drish-story p {
  padding: 10px;
}
.socity-text h3 {
  font-size: 44px;
}
.list-text {
  padding-left: 0;
}
.socity-img span {
  margin: 20px 30px 0 25px;
}
.commit-text {
  padding: 37px;
  top: 16px;
}
.commit-text h6 {
  margin: 20px;
}
.celebrate-text {
  width: 100%;
}

.commitment-shoe {
  margin: 19% 0;
}
.empowerment p {
  font-size: 14px;
  width: 100%;
}
.revosize-area a {
  color: #ffffff;
  float: left;
  font-size: 22px;
  padding: 8px 30px;
  width: 100%;
}
.top-link {
  width: 39%;
}
.search-right {
  width: 87%;
}
.serach-area {
  width: 61%;
}

.order-history .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th {
  font-size: 12px;
}
.why-img p {
  font-size: 18px;
  line-height: 36px;
}
.why-img h2 {
  font-size: 40px;
  margin: 0 0 2%;
}
section.offer .braided-main {
  min-height: 374px;
}
.women-nav {
    width: 27%;
}
}
@media (max-width:1400px) {
.women-nav {
  width: 26%;
}
.cart-top-header .top-link {
  width: auto;
}
.list-icon {
  width: 24%;
}
.desktop-nav.pull-right {
  width: 83%;
}
.top-link {
  width: auto;
}
.login-detail {
  width: auto;
}
.grid li {
  width: 16.3%;
}
.card {
  height: 228px;
}
.social-section .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.socity-text h3 {
  font-size: 40px;
}
.socity-img span img {
  height: 500px;
}
.celebrate-leather {
  padding: 2.3%;
}
.pointer-text h3 {
  font-size: 24px;
}
.parent-guide p {
  font-size: 12px;
  padding: 0 0 10px;}
  .serach-area {
  width: 48%;
}
.search-right {
  width: 100%;
}

.wishlist-account p {
  font-size: 12px;
}
.material-detail {
  padding: 14% 0 0;
}
.choose-material p {
  font-size: 39px;
  line-height: 37px;
}
.choose-numer h4 {
  font-size: 265px;
}
section.woman-shoes h3 {
  font-size: 14px;
}

}
@media (max-width:1367px) {
.desktop-nav.pull-right {
  width: auto;
}

.list-icon {
  padding: 0;
  width: auto;
}
.s-icon {
  padding: 0;
  width: auto;
}
.border-serach {
  width: 14%;
}

.tool-tip {
  float: left;
  width: 38%;
}
.c-s-w {
  float: left;
  width: 26%;
}
.show-select {
  float: left;
  width: 22%;
}.color.sort.c-s {
  margin-right: 11px;
}
.view-bar {
  width: 14%;
}
.view-bar.f-view {
  width: 34%;
}
.color.sort {
  box-sizing: border-box;
  float: left;
  width: 47%;
}
.braided-main {
  min-height: 305px;
}

.women-nav {
  width:25%;
}
.grid.cs-style-2 h3 {
  font-size: 13px;
  margin-top: 0;
}
.search-main {
  padding: 0;
  width: 14%;
}

.gry-bg {
  width: 95%;
}

.leather-left {
  padding: 0 30px 0 10px;
}
.leather-left.l-d {
  padding: 24px 42px 0 39px;
}
.craftman-ship-title h1 {
  top: 74px;
}
.re-block-text {
  padding: 5% 30px 0;
}
.commit-text {
  padding: 0;
}
.socity-text {
  width: 100%;
}
.socity-img {
  width: 100%;
}
.business-area-text > h1 {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
}
.business-area-text > span {
  font-size: 46px;
  margin-top: -27px;
  text-transform: uppercase;
  width: 100%;
}
.business-area-text > p {
  font-size: 14px;
  line-height: 27px;
  padding: 0 10px 0 0;
  text-align: justify;
}
.content-box {
  height: inherit;
}
.content-box h2 {
  font-size: 39px;
  line-height: 31px;
}
.drish-story {
  width: 100%;
}
.usp-text {
  padding: 0;
  width: 100%;
}
.usp-img {
  width: 100%;
}
.text-50 {
  font-size: 36px;
}
.cushioning h1 {
  padding: 0;
}
.blk-color {
  height: 542px;
}
.cushioning p {
  padding: 0;
}
.revosize-primer-text > p {
  font-size: 16px;
  margin-top: 0;
  padding: 10px;
}
.revosize-primer-text {
  padding: 0;
  top: 21px;
}
.bxslider-pro li {
  width: 290px !important;
}
.bxslider-pro li {
  width: 284px !important;
}
.desktop-nav.pull-right {
  width: 78%;
}
.toggle-width {
  width: 15%;
}
.grid {
  padding: 0;
}
.cs-style-2 figcaption a {
  width: 126px;
}
.customization p {
  font-size: 12px;
  padding: 0 0 6px;
}
.comfort h3 {
  margin: 0;
  padding: 0 0 10px;
}
.empowerment p {
  font-size: 14px;
  padding: 0 0 37px;
  width: 100%;
}
.rotate-headline {
  right: -56%;
}
.quality-outer h2 {
  font-size: 32px;
}
.quality-outer h3 {
  font-size: 26px;
}
.quality-outer p {
  font-size: 13px;
  line-height: 27px;
}
.do-something-text p {
  font-size: 18px;
  width: 56%;
}
.do-something-text h2 {
  left: 0;
  width: 70%;
}
}



@media (max-width:1300px) {
.women-nav {
    width: 17%;
}
.slider-text h1 {
  font-size: 31px;
}

.list-icon {
   width: auto;
}

.border-serach {
  width: auto;
}
.f-mob-search {
  display: block;
  padding: 20px 0;
}
.search-right.mob-serach {
  display: none;
}
.tool-tip {
  width: 39%;
}
.c-s-w {
  float: left;
  width: 26%;
}
.show-select {
  float: left;
  width: 21%;
}
.color.sort {
  box-sizing: border-box;
  float: left;
  width: 46%;
}
.card {
  height: 196px;
}
.craftman-ship-title h1 {
  top: 88px;
}
.culture-text {
  top: 20%;
}
.collars-text {
  top: 97px;
}
.shoe-weight {
  float: left;
  padding-right: 0;
  width: 100%;
}
.toggle-width {
  width: 16%;
}
.craftman-ship-title h1 {
  top: 69px;
}
.cushioning {
  width: 100%;
}
.blk-color {
  height: 100%;
}
.slider-area .bx-controls {
  top: 84%;
}
.search-main {
  padding: 0;
  width: 21%;

}



.gry-bg {
  width: 100%; margin: 0;
}
.gry-bg .container-fluid.cate-pad {
  padding: 20px;
}
.supper-soft {
  height: inherit;
  padding: 109px 20px;
}
.news-section h1 span {
  font-size: 11px;
}
.usp-text h2 {
  font-size: 34px;
}
.usp-text h3 {
  font-size: 21px;
  padding-bottom: 10px;
}
.business-area-text > span {
  margin-top: -10px;
}

.revosize-md {
  width: 67%;
}
.revosize-lg {
  width: 71%;
}
.revosize-sm {
  width: 54%;
}
.search-right .search-txt {
  font-size: 17px;
}
.serach-area {
  width: 44%;
}
.footer-socials li {
  width: 22.9%;
}
.news-section input {
  width: 100%;
}
.news-section h1 span {
  font-size: 10px;
}
.news-section h1 {
  line-height:14px;
}
.summer-text h4 {
  font-size: 50px;
  line-height: 25px;
}
.summer-text h3 {
  font-size: 30px;
  line-height: 22px;
}
.summer-text h5 {
  font-size: 50px;
}

}

@media (max-width:1200px) {

.f-mob-search .fa {
  color: #c09d4c;
}

.bags-img img {
  left: 10px;
}
.discount {
  width: 94%;
}
.proceed-btn button {
  font-size: 11px;
}
.sign-in.btn button {
  width: 235px;
}
.sign-in.btn button {
  margin-bottom: 10px;

}
.commit-text {
  padding: 0;

}
.culture-text {
  top: 14px;
}
.leather-left {
  padding: 33px;
  width: 100%;
}
.leather-left.l-d {
  padding: 33px;
}
.leather-img {
  display: table-cell;
  float: left;
  width: 100%;
}
.leather-img.l-d-desk-view {
  display: none;
}
.leather-img.l-d-mob-view {
  display: block;
}
.leather-left.l-d {
  margin-bottom: 30px;
}
.craftman-ship-title h1 {
  top: 72px;
}
.our-story-img img {
  height: inherit;
}
.titl-proper-fit p {
  padding: 3px;
}
.titl-proper-fit h1 {
  padding-bottom: 10px;
}
.toggle-width {
  width: 17%;
}
.list_type ul li a {
  padding: 18px;
}
.need-finer ul li {
  width: 32%;
}
.step-number ul li { padding: 0 10px;
}
.revosize-primer-text > p {
  line-height: 26px;
}
.need-finer ul li {
  width: 24%;
}
.step-number-grid ul li {
  width: 33%;
}
.tip-inner {
  float: left;
  height: 424px;
  width: 100%;
}
.sign-in-chek-out button {
  width: 67%;
}
.women-nav {
  width: 33%;
}
.bxslider-pro li {
  width: 233px !important;
}
.facbook-post {
  margin-bottom: 20px;
}
.foot-socials a {
  float: left;
}
.braided-flip.mobile-view-cart {
  display: block;
}
.card {
  height: 236px;
}
.socity-text h3 {
  font-size: 36px;
}
.experience-range p {
  font-size: 15px;
}
.socail-banner p {
  font-size: 15px;
}
.revosize-area a {
  font-size: 19px;

}
.footer-nav li a {
  font-size: 11px;
}
.footer-socials li {
  width: 31.3%;
}
.leather-material {
  width: 94%;
}
.do-something-text h2 {
  left: 0; top:100px;
  width: 60%;
}
.do-something-text p {
  font-size: 16px;
  width: 56%;
}
}

@media (max-width:1100px) {


.insta img {
  padding-top: 6px;
}
.foot-socials ul li {
  padding: 8px 3px;
}
.tool-tip {
  margin-bottom: 10px;
  width: 100%;
}
.c-s-w {
  width: 43%;
}
.view-bar {
  float: left;
  width: 22%;
}
.container-fluid.cate-pad {
  padding: 0 40px;
}
.show-select {
  float: left;
  width: 30%;
}
.f-desk {
  display: none;
}
.m-desk {
  display: block;
}
.list-icon {
  width: 37%;
}

.m-desk a {
  padding: 0 10px;
}

.border-serach {
  width: 11%;
}

.m-desk .fa {
  color: #4f4f4f;
  float: left;
  font-size: 23px;
}
.bags-img img {
  left: 13px;
}
.commit-text {
  top: 0;
}
.csr-text h1 {
  font-size: 43px;
}
.socity-text {
  width: 100%;
}
.socity-img {
  width: 100%;
}
.craftman-ship-title h1 {
  top: 73px;
}
.toggle-width {
  width: 17%;
}
.craftman-ship-title h1 {
  top: 52px;
}
.re-block-text {
  padding: 0 30px;
}
.re-block-text h3 {
  font-size: 17px;
  line-height: 22px;
}
.content-box {
  padding: 40px;
}
.content-box h2 {
  font-size: 31px;
  line-height: 26px;
}
.toggle-width {
  width: 19%;
}
.step-number ul li {
  width: 33%;  padding: 0 10px;
}
.need-finer .text-30 {
  width: 100%;
}
.need-finer ul li {
  width: 31%;
}
.collars-text {
  top: 20px;
}
.women-nav {
  width:24%;
}
.desktop-nav.pull-right {
  width: auto;
}
.list-icon {
  width: auto;
}
.s-icon {
  padding: 0;
  width: auto;
}
.border-serach {
  width: auto;
}
.login-detail {
  width: auto;
}
.carousel-control {
  bottom: -40px;
}
.usp-img span img {
  height: 300px;
}
.usp-text h2 {
  font-size: 28px;
}
.usp-text h3 {
  font-size: 17px;
}
.provision-book p {
  font-size: 12px;
  padding: 0 0 4px;
}
.empowerment h3 {
  font-size: 17px;
  line-height: 25px;
  padding: 1% 0 0;
}
.empowerment {
  padding: 0 15px;
}
.empowerment p {
  font-size: 12px;
  padding: 0;
}

.parent-guide h2 {
  font-size: 30px;
}
.parent-guide h2 span {
  font-size: 20px;
  padding: 10px 0 0;
}
.observed {
  padding: 0 2%;
}
.help-hand {
  padding: 10px;
}
.revosize-sm {
  width: 70%;
}
.revosize-lg {
  width: 98%;
}
.revosize-md {
  width: 88%;
}
}

@media (max-width:1024px) {

.f-mob-search {
  display: block;
  font-size: 20px;
  padding: 11px 14px;
}	
form.form-fill label {
  width: 38%;
}
.cart-detail-outer .form-control {
  width: 60%;
}
select.dropfieldtxt {
  max-width: 60%;
}
.c-e img {
  height: 400px;
}
.commit-text {
  top: 65px;
}
.desktop-nav.pull-right {
  width: auto;
}
.revosize-primer-text > h4 {
  font-size: 38px;
}
.revosize-primer-text > p {
  font-size: 12px;
}
.sign-in-checkout {
  margin-bottom: 10px;
}
.titl-proper-fit {
  padding: 0 16px;
}
.shoe-care-right {
  padding-bottom: 20px;
  text-align: right;
}
.business-area-text > h1 {
  margin-bottom: 7px;
}
.business-area {
  padding-top: 30px;
}
.business-area-text {
  padding: 0 20px;
}
.fp-tableCell .home_video {
    position: absolute;
    top: 0;
    width: 325%;
}
section.cart-detail-outer {
  margin: 0;
}
.drish-story span {
  margin: 0 0 0 40px;
}
.drish-story p {
  padding: 10px;
}
.usp-text h2 {
  font-size: 25px;
}
.socity-img span img {
  height: 400px;
}
.pointer-text h3 {
  font-size: 24px;
  line-height: 35px;
}
.pointer-text {
  padding: 20px;
}


.wishlist-account .table > thead > tr > th {
  font-size: 13px;
}
.wishlist-account .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th {
  padding: 10px;
}
.order-footer p {
  font-size: 13px;
  line-height: 22px;
}
.order-footer {
  padding: 7% 0;
}
.do-something {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.do-something-text h2 {
  top: 80px;
  width: 50%;
}
section.woman-shoes {
  margin: 30px 0 0;
}
.news-section h1 {
  font-size: 30px;
}
.summer-text {
  bottom: 6px;
}
}
@media (max-width:1000px) {
.social-btn li a {
  font-size: 9px;
}

.social-btn li a .fa {
  color: #4f4f4f;
  font-size: 33px;
}
.f-mob {
  display: block;
}
.f-mob {
  display: none;
}
.social-btn li a {
  font-size: 8px;
}

.f-mob-search {
  padding: 11px 14px;
}
.cart-width {
  width: 14%;
}
.search-main {
  padding: 0;
  width: 28%;
}
.braided-main {
  min-height: 259px;
}
.card {
  height: 149px;
}
.toggle-width {
  width: 20%;
}
.edit-bags {
  width: 42%;
}
.bag-color {
  padding: 0 0 0 10px;
  width: 57%;
}
.colr-chose {
  float: left;
  padding: 10px 0;
  width: 67%;
}
.braided-l span {
  float: left;
}

.craftman-ship-title h1 {
  top: 46px;
}
.culture-text h3 {
  font-size: 16px;
  line-height: 31px;
  padding: 0 9%;
}
.business-area-text {
  padding: 20px;
  width: 100%;
}
.business-img {
  display: table-cell;
  float: left;
  width: 100%;
}
.discount {
  width: 100%;
}
.sub-total-main {
  float: left;
  width: 91%;
}
.text-50 {
  font-size: 43px;
}
.collars-text p {
  padding: 0;
}
.email-field {
  width: 100%;
}
.blk-color {
  height: inherit;
}
.titl-proper-fit {
  top: 36px;
}
.toggle-width {
  width: 21%;
}
.desktop-nav.pull-right {
  width: 71%;
}
.need-finer ul li p {
  font-size: 17px;
}
.sign-in-chek-out button {
  width: 87%;
}
.full-width {
  width: 100%;
}
.foot-sock {
  padding: 20px;
}

.internal-volume {
  padding: 10px;
}
.foot-sock img {
  display: inline;
  padding: 20px 0;
  width: 400px;
}
.titl-proper-fit p {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
}
.cushioning p {
  font-size: 13px;
  line-height: 24px;
  padding: 10px 0;
}
.cushioning {
  padding: 15px 30px;
}
.sreen-gallery img {
  width: 100%;
}
.supper-soft {
  color: #676767;
  display: table-cell;
  float: left;
  font-family: "FuturaLT-Book";
  height: inherit;
  margin: 0;
  padding: 12px 20px;
  width: 100%;
}
.braided-heart li {
  font-size: 16px;
}
.braided-heart li svg {
  fill: #939495;
  height: 20px;
  width: 20px;
}
.card {
  height: 205px;
}
.braided-flip.mobile-view-cart {
  display: block;
}
.desktop-view-cart {
  display: none;
}
.lenght-shoe {
  color: #4c4c4c;
  float: left;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  width: 100%;
}
.length {
  float: left;
  padding: 20px 0;
  width: 100%;
}
.length li {
  display: inline;
  margin: 10px 0;
  padding: 0 8px 0 0;
}
.size-measure {
  float: left;
  margin: 0 auto;
  max-width: 100%;
}
.login {
  width: 159px;
}
.signin-regi {
  margin: 10px;
}
.signin-regi h3 {
  padding: 0 0 10px;
}
.mob-flex {
  display: block;
}
.desk-flex {
  display: none;
}
.foot-socials {
  clear: both;
  padding: 0;   margin: 20px 0 0;
  text-align: center;
  width: 100%;
}

.foot-socials ul {
  display: inline-flex;
  float: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.copyright {
  text-align: center;
}
.f-logo-m {
  float: left;
  text-align: center;
  width: 56%;
}
.craftsmanship-area {
  padding: 0 21px;
}
.business-area-text > h1 {
  margin-bottom: 11px;
}
.business-area-text {
  padding: 20px 0 0;
  width: 100%;
}
.business-area-text > p {
  float: left;
  padding: 0 10px 20px 0;
}
.socity-text h3 {
  font-size: 33px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.view-bar.f-view {
  width: 32%;
}
.show-sgement h4 {
  font-size: 33px;
}

.commitment-env h3 {
  font-size: 30px; text-align:left;
}
.commitment-env {
  margin: -13% 0 7%;
}


.celebrate-text {
  padding: 0;
}
.footer-socials li {
  width: 13.3%;
}
.join-our p {
  padding: 0;
}
.join-our {
  margin: 20px 0 0;
}
.footer-socials {
  margin: 27px 0 0;
}
.contact-info span {
  font-size: 15px;
}
.contact-info {
  font-size: 16px;
}
.contact-info a{
  font-size: 16px;
}

.clients-say {
  padding: 10px 20px;
}
.clients-say article {
  font-size: 13px;
  line-height: 23px;
}
.client-quote {
  margin: 0 4%;
  width: 64%;
}
.client-quote p {
  font-size: 14px;
}
.acc-dash li a {
  font-size: 12px;
}
.acc-dash {
  padding: 3% 0 0;
}
.account-detail h4 {
  font-size: 13px;
}
.account-detail p {
  font-size: 12px;
}
.account-info h3 {
  font-size: 15px;
}
.info-edit > p {
  font-size: 12px;
  padding: 0;
}
.info-edit h5 {
  padding: 0;
}
.address-book h5 {
  padding: 0;
}
.default-address p {
  font-size: 10px;
}
.default-address p span a {
  font-size: 10px;
}
.default-address span {
  padding: 0 5px;
}
.address-book {
  padding: 11px 0;
}
.info-edit {
  padding: 10px 20px 0 0;
}
.shipping-icon {
  float: left;
  margin: 0 0 11%;
  width: 100%;
}
.view-item {
  width: 20%;
}
.woman-news .news-section {
  margin-bottom: 20px;
  padding: 0;
}
}

@media (max-width:950px) {
	
.f-mob {
  display: block;
}
.img-responsive.mob {
  display: none;
}
.social-btn li a {
  font-size: 13px;
}
.social-btn li a {
  padding: 20px 7px;
}
.social-btn {
  padding: 0 20px;
}	
	.div-1 {
  width: 60%;
}

.cart-width {
  width: 14%;
}
.b-link-stroke {
  margin-bottom: 0;
}
.gry-bg {
  margin: 0;
  width: 100%;
}
.slider-pro.sp-horizontal {
  margin: 71px 0;
}	
.csr-text { 
  margin-bottom: 30px;
  padding: 0;
}
.csr-text h3 {
  font-size: 20px;
  padding: 10px;
}
.c-e img {
  height: 352px;
}
.commit-text h1 {
  font-size: 40px;
}
.culture-text h3 {
  font-size: 14px;
  line-height: 31px;
  padding: 0 2%;
}
.revosize-primer img {
height:300px;
}
.revosize-primer-text {
  top: 45px;
}
.step-number-grid ul li {
  padding: 0 18px;
  width: 49%;
}
.step-number-grid a button {
  width: 100%;
}
.grid li {
  width: 32.9%;
}
.bxslider-pro li {
  width: 182px !important;
}
.shoe-care-step p {
  font-size: 13px;
  padding-bottom: 20px;
}
.shoe-care-step h3 {
  font-size: 27px;
}
.sc {
  padding: 10px 0;
}
.our-text h2 {
  font-size: 30px;
  padding: 7px;
}
.why-img {
  padding: 4%;
}
.why-img h2 {
  font-size: 33px;
  margin: 1% 0 2%;
}
.why-img p {
  font-size: 16px;
  line-height: 31px;
}
}
@media (max-width:850px) {
.social-btn {
  padding: 0;
}
.social-btn li a {
  padding: 20px 0;
}
.watch-txt {
  font-size: 19px;
  line-height: 27px;
  margin-top: 17px;
}
.slider-text {
  bottom: 29%;
  color: #fff;
  left: 28%;
  padding-top: 20px;
}
.slider-text h1 {
  font-size: 21px;
  line-height: 30px;
}
.b-link-stroke .b-wrapper {
  color: #fff;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 68px;
  width: 100%;
}
.cart-width {
  width: 18%;
}
.div-1 {
  width: 50%;
}
.social-btn li a {
  padding: 11px 0;
}


.menu-mob {
  display: none;
}
.braided-main {
  min-height: 241px;
}

.list_type ul li a {
  padding: 20px 10px;
}

.card {
  height: 180px;
}
.toggle-width {
  width: 25%;
}

.border-serach {
  float: left;
  padding: 0;
  width: auto;
}
.social-area ul li:last-child {
  padding: 14px 4px 0;
}
.list_type {
  padding: 19px 0 0;
}
.header-logo {
  padding: 5px 0 0;
}
.header {
  margin: 10px 0 0;
}
.m-desk {
  display: block;
  padding: 0;
}

.card {
  height: 131px;
}


.craftman-ship-title h1 {
  font-size: 41px;
  top: 31px;
}
.culture-text h3 {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
}
.re-block-text h3 {
  font-size: 14px;
  line-height: 17px;
}
.foot-title {
  margin: 0;
  padding: 0 0 20px;
}
.titl-proper-fit {
  top: 20px;
}
.titl-proper-fit p {
  padding: 0 10px; font-size:14px;
}

.step-number ul li {
  padding: 0 10px;
  width: 49%;
}
.need-finer .text-30 {
  font-size: 20px;
}

.grid-meas ul li h6 {
  font-size: 14px;
}

.collars-text p {
  font-size: 14px;
}
.collars-text h1 {
  padding: 0 0 1px;
}
.women-nav {
  width: 28%;
}

.card {
  height: 152px;
}
.slider-area .bx-controls {
  top: 77%;
}
.slider-pro.sp-horizontal {
  max-width: 700px !important;
}
.csr-text h1 {
  font-size: 34px;
}
.csr-text h2 {
  font-size: 20px;
  font-style: normal;
  line-height: 32px;
}
.list-text {
  padding-left: 2px;
}
.commit-text h6 {
  margin: 10px;
}
.view-bar {
  width: 24%;
}
.f-c-s {
  float: left;
  width: 56%;
}
.view-bar.f-view {
  float: left;
  width: 44%;
}
.slider-text h1 {
  font-size: 19px;
}
.slider-text h1 > span {
  font-size: 21px;
}
.slider-text {
  bottom: 9%;
}
.drish-story span {
  margin: 0 0 20px;
  width: 100%;
}
.usp-img > span {
  float: left;
  margin: 0 0 20px;
  width: 100%;
}
.usp-img span img {
  height: auto;
}
.our-summery {
  padding: 10px;
}
.our-summery p {
  line-height: 24px;
  padding: 10px;
}
.why-leather-text {
  margin: 0 0 20px;
  padding: 10px;
}
.socity-img span img {
  height: 300px;
}
.socity-text h3 {
  font-size: 21px;
}
.socity-text h4 {
  font-size: 18px;
}
.socity-text p {
  font-size: 14px;
  line-height: 27px;
}
.parents-text {
  padding: 0 5% 0 22%;
}
.rotate-headline {
  bottom: -719px;
  right: -134%;
}
.rotate-headline h2 {
  font-size: 28px;
}
.benifits-text-area p {
  border-bottom: 1px solid #000;
  font-size: 13px;
  line-height: 30px;
  margin: 0 0 20px;
  padding: 0 0 23px;
}
.benifits-text-area h3 {
  font-size: 20px;
  padding: 10px 0;
}
.benifits-text-area {
  padding: 10px 30px 0 0;
}
.benifts-of.leather h2 {
  font-size: 45px;
}
.default-address {
  padding: 0;
}
.material-detail p {
  font-size: 16px;
  line-height: 36px;
}
.leather-note p {
  font-size: 12px;
  line-height: 23px;
}
section.offer .braided-main {
  min-height: 282px;
}
.do-something-text p {
  font-size: 14px;
  top: 0;
  width: 60%;
}
.do-something-text h2 {
  top: 50px;
  width: 50%;
}
}

@media (max-width:767px) {
	.heart-area .cart-count { 
  top: 17px;
}
.women-nav {
  width: 100%;
}
.social-btn li a .fa {
  font-size: 22px;
  padding: 10px 0 0;
}
.social-btn li a {
  font-size: 12px;
}
.slider-text {
  display: none;
}
.shop-txt {
  display: none;
}
.watch-txt {
  display: none;
}
.main-slider .bx-pager {
  top: 14%;
}
.price-frame {
  margin-left: 0;
}
.social-btn li:first-child {
  display: block;
}
.f-mob-search {
  font-size: 19px;
  padding: 24px 3px 0;
}

.input-group.search-bar-home {
  display: none;
}
.top-link.mob-cart {
  display: none;
}
.div-1 {
  padding: 0;
}
.cart-width {
  width: 24%;
}
.social-btn {
  padding: 0 12px;
}
.desktop-nav {
  display: none;
}
.mobile-nav {
  display: block;
}
.login-mob img {
  padding-top: 14px;
}
.braided-main {
  min-height: auto;
}
.social-btn li:first-child {
  padding: 0 4px;
}

.toggle-width {
  width: 22%;
}
.container-fluid.cate-pad {
  padding: 20px;
}
.tool-tip {
  width: 100%;
}
.c-s-w {
  width: 100%;
}
.view-bar {
  width: 100%;
}
.show-select {  width: 100%;
}
.shop-text {
  width: 100%;
}
.range-block {
  width: 20%;
}
.view-bar.f-view {
  width: 100%;
}
.f-c-s {
  width: 100%;
}
.back-to-top {
  bottom: 30px;
}	
.news-section button {
  margin-bottom: 20px;
  margin-top: 20px;
}
.news-section h1 {
  font-size: 31px;
}
.toggle-width {
  width: 40%;
}
.card {
  height: 446px;
}
.mobile-nav .user-icon {
  padding-top: 11px;
}
.mobile-nav .cart-icon {
  padding-right: 20px;
  padding-top: 10px;   top: 7px;
}
.braided-l span {
  float: right;
}
.bag-color {
  padding: 0 20px;
}
.sign-in-chek-out {
  float: left;
  padding: 40px 0 0 10px;
  text-align: center;
}
.c-e img {
  height: 434px;
}
.craftman-ship-title h1 {
  font-size: 34px;
  top: 10px;
}
.culture-text {
  color: #000;
  margin-bottom: 40px;
  position: inherit;
  top: 33%;
}
.cart-count {
  top: 7px;
}
.reserch-blog-img {
  width: 100%;
}
.re-block-text {
  padding: 20px;
  width: 100%;
}
.re-block-text.re-devel {
  padding: 20px;
}
.oue-engineer p {  line-height: 27px;
}
.leather-box {
  height: inherit;
  width: 100%;
}
.content-box {
  height: inherit;
  margin-left: 0;
  margin-top: 0;
  padding: 10px;
  width: 100%;
}
.why-leather-text h3 {
  font-size: 20px;
}
.why-leather-text {
  padding: 10px;
}
.discount {
  float: left; display:block;
  width: 100%;
}
.discount input {
  float: left;
  margin: 10px 5px 10px 0;
  width: 100%;
}
.discount button {
  width: 100%;
}
.drish-story p {
  padding: 10px;
}
.our-summery {
  padding: 0;
}
.usp-text h2 {
  font-size: 26px;
}
.usp-text h3 {
  font-size: 16px;
  padding-bottom: 10px;
}

.collars-text {
  color: #000;
  position: inherit; padding:20px;
}
.collars-text p {
  color: #000;
}
.titl-proper-fit {
  color: #000;
  position: inherit;
}
.titl-proper-fit p {
  color: #000;
}
.container-fluid.c-f-pad {
  margin: 0;
}
.sign-up {
  height: inherit;
  margin-bottom: 20px;
  padding: 20px;
}
.create {
  margin: 20px 0;
  position: inherit;
}
.new-cust {
  margin-bottom: 20px;
}
.sign-in-social ul li {
  display: inline;
  float: left;
  padding: 10px;
}
.email-field {
  width: 65%;
}
.blk-color {
  height: inherit;
}
.cushioning {
  width: 100%;
}
.titl-proper-fit h1 {
  font-size: 35px;
}
.need-finer ul li p {
  font-size: 14px;
}
.size-finder-bg {
  margin: 20px 0;
  padding: 20px;
}
.revosize-primer img {
  height: auto;
}
.revosize-primer-text {
  position: inherit; color:#000; margin:0 0 15px;
}
.revosize-primer-text > p {
color:#000;
}
.revosize-primer-text > h4 {
color:#000;
}


.tip-inner {
  height: 354px;
}
.sign-in-chek-out button {
  width: 100%;
}
.register-save {
  border-right: 0 none;
}
.sub-total-main {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
.full-width .text-50 {
  font-size: 31px;
}
.collars-text .text-50 {
  font-size: 32px;
}
.collars-text {
  margin-bottom: 33px;
}
.titl-proper-fit p {
  font-size: 13px;
  line-height: 24px;
  padding: 10px 0;
}

.complete-look {
  margin: 30px 0 0;
}
.sreen-gallery {
  margin: 0;
}
.sreen-gallery img {
  width: auto;
}
.bxslider-pro li {
  width: 147px !important;
}
.related-product h4 {
  color: #000;
  font-size: 11px;
}
.sp-image.center-block {
  width: 100% !important;
}
.slider-area .bx-controls {
  right: 0;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  width: 100%;
}
.braided-flip {
  width: 50%;
}
.card {
  height: 232px;
}
.range-block {
  width: 14%;
}
.range-prize {
  float: left;
  width: 77%;
}
.range-slider {
  margin-bottom: 30px;
  padding: 10px 0 0;   width: 100%;
}
.cate-nav ul li a {
  padding: 14px 16px;
}
.braided-flip.cat-img {
  width: 100%;
}
.braided-flip.desktop-view-cart {
  display: none;
}
.braided-flip.mobile-view-cart {
  display: block;
}
.braided-main.cat-height {
  margin-bottom: 20px;
}
.cate-nav {
  padding: 17px 0 14px;
}
.main-slider .bx-pager .bx-pager-item {
  margin: 1px 4px 7px;
}
.news-section {
  box-sizing: border-box;
  padding: 0 0 0 15px;
  width: 100%;
}
.length button {
  margin: 20px 0 20px 13%;
  width: 24%;
}
.lenght-shoe {
  color: #4c4c4c;
  float: left;
  font-size: 16px;
  margin: 30px 20px 20px;
  padding:0px;
}
.size-measure {
  border: 1px solid #ececec;
  float: left;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}
.slider-area .bx-controls {
  top: 64%;
}
.gallery {
  padding-top: 0;
}
.slider-pro.sp-horizontal {
  max-width: 500px !important;
}
.sp-thumbnail-container {
  width: 150px !important;
}
.step-number img {
  width: 150px;
}
.step-number-grid img {
  width: 150px;
}
.need-finer img {
  width: 70px;
}
.need-finer ul li p {
  font-size: 13px;
}
.tip-inner > img {
  width: 150px;
}
.shoe-care-step p {
  margin-bottom: 20px;
}
.tips {
  margin: 0;
  padding: 10px 0;
}
.shoe-care-right {
  padding-bottom: 0;
  text-align: left;
}
.mob-shoe-care {
  display: block;
}
.desk-shoe-care {
  display: none;
}
.re-block-text h3 {
  font-size: 14px;
  line-height: 33px;
}
.oue-engineer p {
  line-height: 33px;   font-size: 14px;
  text-align: left;
}
.csr-text h1 {
  font-size: 30px;
}
.cs-style-2 figcaption a {
  width: 100px;
}
.grid figcaption Button {
  width: 100px;
}


.csr-text h3 {
  font-size: 15px;
  line-height: 32px;
  padding: 10px;
}

section.cart-detail-outer {
  margin: 0;
}
.sign-in-chek-out {
  float: left;
  padding: 0 0 10px 15px;
  width: 100%;
}
.sign-in-chek-out button {
  float: left;
  margin-right: 14px;
  width: 40%;
}
.sign-in-chek-out br {
  display: none;
}
.f-nav {
    float: left;
    width: 23%;
}
select.dropfieldtxt {
  max-width: 100%;
}
.contact-information {
  float: left;
  width: 100%;
}
.cart-detail-outer .form-control {
  width: 100%;
}
form.form-fill label {
  width: 100%;
}
.address li span {
  font-size: 20px;
}

.design-slider .home_video {
    display: block;
}
.home_bg {
  background-image: url("../images/home_bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fp-tableCell .home_video {
  height: 100%;
  position: absolute;
  top: 0;
  width: auto;
}
.pagination.categ-page {
  float: none;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.length {
  padding: 10px 0;
}
.bg-select li {
  display: inline-block;
  float: left;
  width: 14%;
}
.gallery .carousel-indicators-2 {
  bottom: 20px;
  left: -12px;
}
.chamaripa-img-3 {
  margin-top: 0;
}
section.cart-detail-outer {
  min-height:auto;
}
.drish-story p {
  font-size: 14px;
  line-height: 26px;
}
.our-summery p {
  padding: 30px 0 0;
  text-align: left;
}
.usp-text p {
  font-size: 14px;
  line-height: 26px;

}

.craftman-ship-title img {
  height: 150px;
}
.craftman-ship-title h1 {
  font-size: 28px;
  top: 39px;
}
.socity-img span {
  margin: 20px;
}
.foot-health .col-padding {
    margin: 0;
    padding: 0 15px;
}
.collar {
  margin-top: 15px;
}
.collar img {
  height: 300px;
}
.full-width {
  padding: 0 !important;
  width: 100%;
}
.cushioning {
  padding: 33px 15px;
}
.celebrate-shoe {
  display: none;
}
.celebrate-text {
  padding: 10px;
}
.celebrate-leather h2 {
  padding: 0;
}
.experience-range p {
  font-size: 11px;
  margin: 0 0 0px;
}
.brand-main p {
  font-size: 11px;
}
.customization p {
  font-size: 11px;
}
.celebrate-leather h2 {
  margin: 0;
  padding: 20px 0;
}
.socail-banner p {
  padding: 0 0 20px;
}
.commitment-shoe {
  width: 50%;
}
.net-shoes {
  height: 200px;
  width: 200px;
}
.commitment-env h3 {
  font-size: 20px;
}
.commitment-env p {
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
}
.children-welfare h2 {
  font-size: 30px;
}
.children-welfare h3 {
  font-size: 25px;
}
.children-welfare p {
  font-size: 14px;
  padding: 0 0 7%;
}
.children-welfare h2 {
  padding: 0;
}
.responsible-business h3 {
  font-size: 20px;
}
.empowerment {
  padding: 0;
}
.child-shoes {
  margin: 30px 0;
}
.provision-book p {
  font-size: 12px;
  padding: 0 15px 10px;
}
.socail-banner p {
  font-size: 13px; padding:0 0 5px;
}
.children-welfare h3 {
  margin: 0;
}
.responsible-business p {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
}
.responsible-business {
  margin: 0 0 30px;
}
.responsible-business h3 {
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}
.empowerment h3 {
  font-size: 17px;
  line-height: 25px;
  padding: 3% 0 0;
}
.empowerment p {
  font-size: 12px;
}
.foot-point.mobile-view {
  display: block;
}
.foot-point {
  display: none;
}
.parents-text {
  padding: 15px;
}
.woman-enjoing {
  width: 43%;
}
.w-e img {
  max-width: 64%;
}
.w-e {
  left: 58px;}
  
  .select-shoes {
  display: none;
}
.revosize-area a {
  font-size: 17px;
}
.parent-banner {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #ffffff;
  float: left;
  padding: 0;
  width: 100%;
}
.shoe-net-w {
  display: none;
}
.rotate-headline h2 {
  font-size: 20px;
}
.rotate-headline {
  bottom: 0px;
  right: 0;    transform: none;
white-space: normal;
}
.benifts-of.leather h2 {
  font-size: 32px;
}
.quality-area {
  float: left;
  padding: 0;
  width: 100%;
}
.list_type {
  display: none;
}
.heart-area .cart-count {
  top: -7px;
}
.cart-count {
  top: 3px;
}
.top-link ul li {
  padding: 2px 9px;
}
.serach-area {
  width: 48%;
}
.top-link {
  margin: 10px 9px 0;
}
.serach-area {
  display: none;
}
.serach-xs img {
  width: 18px;
}
.serach-xs {
  display: block;
}
.footer-nav {
  margin: 0 0 2px;
  width: 29%;
}
.top-link ul li {
  float: left;
  padding: 0 7px;
}
.contact-us-banner img {
  height: 100px;
}
.contact-img {
  background-image: none;
}

.testimoial-area {
  background: rgba(0, 0, 0, 0) none no-repeat scroll right top;
}
.client-quote {
  margin: 0 3%;
  width: 77%;
}
.testimonial-left-arrow {
  top: 19%;
}
.testimonial-right-arrow {
  top: 27%;
}
.account-detail {
  padding: 5% 0;
}
.info-edit {
  padding: 5px 0;
  width: 100%;
}
.default-address {
  margin: 5px 0;
  width: 100%;
}
.account-info {
  margin: 20px 0 0;
}
.premium-service {
  margin: 0 0 30px;
}
.shipping-icon h4 {
  margin: 0;
  padding: 20px 0 0;
}
.shipping-icon {
  margin: 10px 0;
}

.order-history {
  margin: 10px 0 0;
}

.wishlist-account button {
  float: none;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.wishlist-account {
  float: left;
  margin: 30px 0 0;
  width: 100%;
}
.why-img {
  padding: 5%;
}
.why-img h2 {
  font-size: 23px;
  margin: 0 0 4%;
}
.why-img p {
  font-size: 13px;
  line-height: 22px;
}
.material-detail {
  padding: 10% 0;
}
.choose-numer h4 {
  font-size: 180px;     margin: 0;
}
.choose-material p {
  font-size: 30px;
  line-height: 29px;
}
.choose-material {
  left: 18%;
  right: 0;
  top: 13%;
}
.material-detail p {
  font-size: 14px;
  line-height: 26px;
}
.choose-material p {
  font-size: 26px;
  line-height: 29px;
}
.leather-material {
  width: 90%;
}

.order-footer {
  padding: 11% 0;
}
.order-footer p {
  font-size: 10px;
  line-height: 20px;
}
.order-f-text {
  margin: 30px 0 0;
}
.order-footer img {
  width: 18%;
}
.content .demo > div {
  max-height: inherit !important;
  overflow-x: auto !important;
}
.testimoial-area h3 {
  margin: 0 0 10%;
}
.testimoial-area h3 {
  max-width: 100%;
}
.demo .scroll-wrapper > .scroll-content {
  overflow: hidden !important;
}
section.offer .braided-main {
  min-height: 367px;
}
.do-img { display:none;}
.do-something-text {
  position: inherit;
}
.do-something-text h2 {
  position: inherit; width:42%; top:0px;
}
.do-something-text p {
  width: 40%;
}
.kids-d-logo {
  display: none;
}
.kids-slider .bx-wrapper .bx-controls-direction a {
  height: 15px;
  width: 15px;
  z-index:0;
}
.summer-text {
  width: 55%;   bottom: 4px;   padding: 0;
}

.summer-text h4 {
  font-size: 35px;
  line-height: 30px;
}
.summer-text h3 {
  font-size: 30px;
  line-height: 13px;
}
.summer-text h5 {
  font-size: 40px;
}

section.woman-shoes h3 {
  font-size: 12px;
  line-height: 20px;
  margin: 30px 0 10px;
}
}
@media (max-width:600px) {

.cart-width {
  width: 30%;
}
.foot-logo {
  height: 83px;
  margin-top: 0;
  width: 100px;
}
.foot-nav-2 {
  padding-left: 0;
}
.foot-socials {
  float: left;
  height: 100%;
  margin: 9px 0;
  padding: 0;
  width: 100%;
}
.cate-nav ul li a {
  padding: 14px 6px;
}
.c-s-w .color {
  padding: 0 10px 0 0;
}
.card {
  height: 199px;
}
.sign-in-chek-out {
  float: left;
  padding: 20px 0 0;
  text-align: center;
}
.sign-in-chek-out button {
  width: 100%;
}
.business-area-text > h1 {
  font-size: 19px;
}
.business-area-text > span {
  font-size: 31px;
  margin-top: -12px;
}
.business-area-text > p {
  font-size: 14px;
  line-height: 25px;
  padding: 0;
}
.business-area-text {
  padding: 10px;
}
.socity-text h3 {
  font-size: 24px;
  margin-bottom: 11px;
}
.socity-text h4 {
  font-size: 18px;
}
.socity-text p {
  font-size: 14px;
  line-height: 26px;
}


.list-text li {
  font-size: 14px;
  line-height: 28px;
}
.csr-text h1 {
  font-size: 32px;
}
.csr-text h2 {
  font-size: 16px;
  line-height: 29px;
}
.csr-text h3 {
  font-size: 14px;
  line-height: 31px;
  padding: 0;
}
.commit-text {
  margin-bottom: 31px;
  padding: 10px;
  top: 0;
}
.commit-text {
  position: inherit;

}
.commit-text h1 {
  color: #000;
  font-size: 24px;
}
.commit-text h6 {
  font-size: 14px; color:#000;
  line-height: 33px;
  margin: 0;
}
.c-e img {
  height: 150px;
  width: 100%;
}

.craftman-ship-title img {
  height: 150px;
}
.craftman-ship-title h1 {
  font-size: 40px;
}
.our-story-img {
  float: left;
  width: 100%;
}
.usp-img {
  float: left;
  width: 100%;
}
.step-number ul li {
  width: 49%;
}
.step-number-grid ul li {
  padding: 0 10px;
  width: 100%;
}
.address.grid-foot li span {
  font-size: 21px;
}
.step-video h3 {
  font-size: 16px;
}
.step-number-grid ul li {
  margin-bottom: 16px;
  padding: 0 10px;
}
.sp-thumbnail-container {
  width: 100px !important;
}
header img {
    width: 17% !important;
}
.signin-regi h3 {
  font-size: 25px;
}
.volume-img img {
  width: 200px;
}
.tip-inner {
  height: 435px;
}
._2p3a {
    max-width: 100% !important;
}
._2lqh {
    width: 100% !important;
}
.uiScaledImageContainer._2zfr {
    width: 100% !important;
}
.bag .grid li {
    float: left;
    width: 25%;
}
.drish-story span img {
  height: auto;
}
.socity-img span img {
  height: auto;
}
.socity-text {
  padding: 15px;
  width: auto;
}
.show-sgement img {
  height: 250px;
}
.wishlist-account .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th {
  float: left;
  width: 100%;
}
.wishlist-account .table > thead > tr > th {
  float: left;
  width: 100%;
}
.wish-img {
  text-align: center;
}
.wishlist-price p span {
  float: right;
  position: absolute;
  right: 10%;
}
.hide-cross {
  display: none;
}
.wishlist-account button {
  float: none;
  margin: 0 auto;
  max-width: 30%;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.view-cross {
  display: block;
}
.do-something-text h2 {
  margin: 2% 2% 0;
}
.do-something-text h2 img {
  max-width: 200px;
}
}
@media (max-width:480px) {
.pop-up-wishlist .pop-up-images h5 {
  width: 84%;
}
.carousel-caption {
  bottom: 20px;
  left: 15%;
  padding-bottom: 0;
}
.price-frame {
  height: 275px;
  margin-bottom: 45px;

}
.carousel-indicators-2 li {
  margin: 1px;
  width: 32px;
}
.carousel-indicators-2 .active {
  margin: 1px;
  width: 32px; height: 32px;
}
.top-link ul li {
  float: left;
  padding: 0 5px;
}

.f-mob-search {
  padding: 26px 0;
}
.top-link ul li {
  padding: 2px 5px;
}

.price-frame h4 {
  font-size: 20px;
  padding-top: 20px;

}
.price-txt {
  font-size: 30px;
}
.price-frame {
  background: #fff none repeat scroll 0 0;
  height: 196px;
  margin-bottom: 61px;
  width: 230px;
}
.carousel-caption {
  left: 8%;
}
.b-wrapper .b-from-right {
  font-size: 18px;
  padding: 2px 15px;
}
.b-wrapper.shoe button {
  font-size: 18px;
  padding: 2px 15px;
}
.b-wrapper h2 {
  font-size: 14px;

}
.b-wrapper.shoe {
  top: 30px;
}
.social-btn li {
  padding: 0 6px;
}
.social-btn {
  padding: 0;
}
.toggle-width {
  float: left;
  width: 36%;
}
.f-nav {
  margin-bottom: 19px;
  width: 50%;
}
.select-size .color {
  padding-right: 0px;
  width: 100%;
}
.color input {
  margin: 10px 0 5px;
  width: 100%;
}
.wish-list p {
  float: left;
  width: 100%;
}
p.avail {
  margin: 0;
  text-align: left;
  width: 100%;
}
.review-nav ul li:first-child a {
  padding-left: 0;
}
.review-nav ul li a {
  color: #4d4d4d;
  font-size: 14px;
  padding: 10px;
}
.p-detail p {
  float: left;
  width: 45%;
}
.menu-text {
  display: none;
}
.toggle-width {
  padding: 0;
  width: 32%;
}
.header a .fa {
  padding: 12px 0;
}


.contact-information {
  float: left;
  width: 100%;
}
.braided-l span {
  float: left;
}

.proceed-btn button {
  font-size: 15px;
}
.proceed-btn {
  float: right;
  padding: 5px 0 0;
  width: 100%;
}
.proceed-btn button {
  width: 100%;
}
.foot-logo {
  height: auto;
  margin-top: 0;
  width: auto;
}
.relish h4 {
  padding: 0;
}
.craftsmanship-area {
  padding: 10px;
}
.is-paul {
  padding: 40px 0;
}
.culture-text h3 {
  font-size: 14px;
  line-height: 24px;
  padding: 0 20px;
}
.craftman-ship-title h1 {
  font-size: 26px;
}
.leather-left.l-d h3 {
  font-size: 26px;
}
.why-do {
  float: left;
  padding: 10px 0;
  width: 100%;
}
button.blk-btn {
  margin-bottom: 10px;
  width: 100%;
}
.btn-cart.red-btn {
  width: 100%;
}
.red-btn button {
  width: 100%;
}
.sub-total-main {
  width: 100%;
}
.text-50 {
  font-size: 30px;
}
.our-text h2 {
  padding: 0;
}
.our-text p {
  color: #000;
  font-size: 16px;
  line-height: 30px;
}
.drish-story p {
  padding: 0;
}
.usp-text h2 {
  font-size: 20px;
}
.usp-text p {
  color: #595959;
  font-size: 14px;
  line-height: 26px;
  padding: 10px 0;
}
.foot-title h3 {
  font-size: 31px;
}
.forgot-pwd span.for-pwd {
  float: right;
  font-size: 12px;
  font-style: italic;
  padding-top: 16px;
  width: 100%;
}
.email-field {
  width: 100%;
}
.new-cust h4 {
  font-size: 22px;
}
.login {
  width: 100%;
}
.create {
  margin: 10px 0;
  width: 100%;
}
.bred-title h1 {
  font-size: 27px;
}
.blk-color.col-padding {
  padding: 0 15px;
}
.blk-color {
  margin-bottom: 10px;
}
.need-finer ul li {
  margin-bottom: 20px;
  width: 31%;
}
.revosize-primer-text > h4 {
  font-size: 25px;
}
.step-number ul li {
  width: 100%;
}
.range-prize {
  width: 80%;
}
.range-slider {
  width: 100%;
}
.volume-img {
  text-align: center;
  width: 100%;
}
.volume-img img {
  width: 100%;
}
.collars-text .text-50 {
  font-size: 20px;
}
.full-width .text-50 {
  font-size: 19px;
}
.internal-volume h3 {
  padding: 0 0 3px;
}
.bag .grid.cs-style-2 li {
  margin: 0;
  width: 49.3% !important;
}
.grid figcaption Button {
  width: 100%;
}
.card {
  height: 151px;
}

.cate-nav ul li a {
  padding: 14px 3px;
}
.length button {
  margin: 20px 0 20px 13%;
  width: 39%;
}
.slider-pro.sp-horizontal {
  max-width: 370px !important;
}
.sp-thumbnail-container {
  width: 120px !important;
}
.need-finer ul li img {
  width: 56px;
}
.csr-text h1 {
  font-size: 22px;
  margin-bottom: 0;
}
.sign-in-chek-out button {
  margin-right: 0;
}
.input-first-half {
  width: 100%;
}
.bg-select li {
  width: 18%;
}
.length-shoe {
  margin: 10px;
  padding: 10px;
  width: 100%;
}
.gallery .carousel-control {
  bottom: 27px;
}

.craftman-ship-title img {
  height: 150px;
}

.content-box > h4 {
  padding: 10px 0 0;
}
.content-box h2 {
  font-size: 22px;
  line-height: 26px;
}
.craftman-ship-title img {
  height: 150px;
}
.collar img {
  height:auto;
}

.celebrate-leather {
  padding: 20px 0;
}


.range-shoe {
  width: 59%;
}
.brand-main h2 {
  font-size: 20px;
}
.parent-guide h2 span {
  font-size: 16px;
  padding: 5px 0 0;
}
.show-sgement img {
  height: 200px;
}
.customization h3 {
  font-size: 20px;
}
.children-welfare h2 {
  font-size: 20px;
}
.children-welfare h3 {
  font-size: 18px;
}
.comfort h3 {
  font-size: 20px;
}
.show-sgement h4 {
  font-size: 14px;
  line-height: 26px;
  padding: 10px;
}
.commitment-env {
  margin: -29% 0 7%;
}
.pointer-text h3 {
  font-size: 18px;   padding: 0;
}
.parent-guide p {
  padding: 0;
}
.benifits-text-area h3 {
  font-size: 17px;
  padding: 0;
}
.benifits-text-area {
  padding: 10px 0 0;
}
.brand-main h2 {
  font-size: 18px;
  line-height: 29px;
}
.quality-outer h3 {
  font-size: 17px;
  margin: 9px 0;
}
.quality-outer p {
  font-size: 12px;
  line-height: 23px;
}
.quality-outer h2 {
  font-size: 22px;
}
.pop-up-cart {
  max-width: 300px;
}
.pop-up-cart {
  font-size: 12px;
  padding: 10px;
  right: 13px;
}
.pop-up-images h5 {
  font-size: 10px;
  line-height: 14px;
  margin: 1px;
  padding: 0;
  width: 100%;
}
.pop-up-wishlist .pop-up-images h5 {
  font-size: 11px;
  line-height: 14px;
  margin: 1px;
  padding: 0 0 0 20px;
  width: 91%;
}
.pop-up-cart p {
  font-size: 12px;
  padding: 0;
}
.pop-up-cart {
  max-width: 450px;
}
.total-chk > h3 {
  font-size: 20px;
}
.total-chk h3 span {
  font-size: 15px;
  padding: 21px 0 4px;
}
.total-chk .btn.btn-default {
  width: 100%;
}
.cross {
  padding: 6px;
}
.footer-nav {
  width: 50%;
}
.revosize-area a {
  font-size: 14px;
  padding: 12px 16px 0;
}
.client-quote {
  margin: 0 5%;
  width: 70%;
}
.client-quote {
  margin: 20px 0;
  width: 100%;
}
.scrollbar-macosx.scroll-content.scroll-scrollx_visible.scroll-scrolly_visible {
  margin-right: 0 !important;
}
.clients-img.align-right a {
  float: left;
}
.clients-img {
  text-align: center;
  width: 100%;
}
.clients-img > a {
  display: block;
  float: left;
  height: auto;
  text-align: center;
  width: 100%;
}


.testimonial-left-arrow {
  left: 116px;
  top: -15px;
}
.testimonial-right-arrow {
  position: absolute;
  right: 144px;
  transform: rotate(360deg);  top: -18px;
}
.testimoial-area h3 {
  font-size: 18px;
  width: 100%;
}
.view-item {
  text-align: center;
  width: 100%;
}
.view-item img {
  display: inline;
  width: auto;
}
.choose-numer h4 {
  font-size: 150px;
}
.choose-material p {
  font-size: 26px;
  line-height: 29px;
}
.material-detail p {
  font-size: 15px;
  line-height: 26px;
}
.full {
  width: 100%;
}
.material-detail {
  padding: 0 0 5%;
}
.clients-img img {
  display: inline;
  width: auto;
}
section.offer .braided-main {
  min-height: 270px;
}
.do-something-text h2 {
 width:100%; 
}
.do-something-text p {
  width: 40%;
}
.proud-text p {
  font-size: 14px;
  line-height: 25px;
}
.proud-child img {
  max-width: 226px;
}
.woamn-collection {
  width: 100%;
}
.winter-shoe {
  margin-top: 30px;
  width: 100%;
}
}


@media (max-width:360px) {
	.craftman-ship-title img {
  height: 100px;
}
.craftman-ship-title h1 {
  top: 20px;
}
.radio {
  float: none;
  text-align: center;
}
.checkbox, .radio {
  display: inline;
}
.p-detail p {
  float: left;
  width: 45%;
}
.bxslider-pro li {
  width: 364px !important;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 5px;
}
.card {
  height: 244px;
}
form.form-fill label {
  width: 100%;
}
.cart-detail-outer .form-control {
  width: 100%;
}
select.dropfieldtxt {
  max-width: 100%;
}
.cart-detail-outer .form-group {
  margin-bottom: 5px;
}
.input-first-half {
  padding: 0;
}
.toggle-width {
  padding: 0;
  width: 30%;
}
.social-btn li {
  padding: 0 4px;
}
.edit-bags {
  width: 100%;
}
.bag-color {
  float: left;
  padding: 20px 0 10px;
  width: 100%;
}
.colr-chose {
  width: 100%;
}
.colr-chose > li {
  width: 49%;
}
.braided-l span {
  float: right;
}
.register-save p {
  font-size: 12px;
}
.leather-left {
  padding: 20px;
  width: 100%;
}
.leather-left.l-d {
  padding: 20px;
}
.craftman-ship-title h1 {
  font-size: 22px;
  top: 20px;
}
.foot-title h3 {
  font-size: 26px;
}
.foot-title h4 {
  font-size: 14px;
}
.text-50 {
  font-size: 21px;
}
.cushioning p{
  font-size: 14px;
}

.bredcrumb-nav ul li {
  padding: 0 7px;
}
.div-1 {
  border-right: 0 none;
}

.slider-pro.sp-horizontal {
  max-width: 332px !important;
}
.sp-thumbnails-container.sp-bottom-thumbnails {
  width: 100% !important;
}

.card {
  height: 99px;
}
.length button {
  margin: 0;
  width: 100%;
}
.length li {
  display: inline;
  float: left;
  margin: 10px;
  padding: 0;
  width: 100%;
}
.length label {
  padding-right: 0;
  width: 24%;
}
.length input {
  width: 66%;
}
.length button {
  box-sizing: border-box;
  margin: 0 0 0 28%;
  padding: 0;
  width: 66%;
}
.length > li:last-child {
  margin: 0;
}
.size-finder-bg h4 {
  font-size: 14px;
  line-height: 26px;
}
.measurment-text {
  margin: 0;
  text-align: center;
}
.fitting {
  padding: 10px;
}
.measurment-text p {
  color: #4c4c4c;
  font-size: 14px;
  padding: 5px;
}
.main-slider .bx-pager {
  top: 0;
}
.need-finer ul li {
  margin-bottom: 20px;
  width: 100%;
}
.tips-patent {
  width: 100%;
}
.tip-inner {
  height: inherit;
}
.full-width {
  box-sizing: border-box;
  width: 100%;
}
.address li span {
  font-size: 17px;
}
.bg-select li {
  width: 28%;
}
.revosize-area a {
  font-size: 14px;
}
.pop-up-cart {
  max-width: 300px;
}
section.offer .braided-main {
  min-height: 220px;
}
.pop-up-wishlist {
  max-width: 264px;
}
.do-something-text h2 {
 width:100%; 
}
.do-something-text p {
 padding: 20px;
}
.do-something-text p {
  left: 0;
  padding: 20px;
  position: inherit;
  width: 100%;
}
.proud-child img {
  max-width: 141px;
}
.proud-text p {
  font-size: 13px;
  line-height: 20px;
}
.full-480 {
  width: 100%;
}
.summer-text {
  bottom: 4px;
  box-sizing: border-box;
  margin: 20px 0 0; color:#000;
  padding: 20px;
  right: 0;  position: inherit;
  width: 100%;
}
.woamn-collection {
  position: inherit;
}
}
@media (max-width:320px) {

.foot-title h3 {
  font-size: 22px;

}
.new-cust h4 {
  font-size: 19px;
}
.bred-title h1 {
  font-size: 25px;
}
.f-nav {
  width: 100%;
}
.foot-socials ul {
  float: left;
}
.foot-logo {
  float: left;
}
.copyright {
  float: left;
  padding: 10px 0;
  text-align: left;
}

.slider-pro.sp-horizontal {
  max-width: 300px !important;
}
.braided-flip {
  width: 100%;
}
.card {
  height: 200px;
}
.range-block h6 {
  font-size: 10px;
}
.range-block {
  width: 15%;
}
.range-prize {
  width: 85%;
}

.main-slider .bx-pager {
  top: -5%;
}
.slider-area .bx-controls {
  top: 76%;
}
.bg-select li {
  width: 32%;
}
.step-img {
  margin-top: 0;
}
.craftman-ship-title h1 {
  font-size: 19px;
}
section.offer .braided-main {
  min-height: inherit;
}
}


/*------------for md device----------------*/

@media (min-width: 992px) and (max-width: 1199px){

.communicate-banner {
    padding: 80px 0px 80px 0px;
}
.price-description p {
    font-size: 18px;
    float: left;
    font-weight: normal;
    margin: 0px;
}
.communicate-banner h1 {
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}
.container-fluid-two{
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.workers p {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.brand-identity h3 {
    font-size: 30px;
    margin: 0px 0px 10px 0px;
}
.brand-type h4 {
    font-size: 20px;
}
.brand-type p {
    font-size: 15px;
}
.talk-question h3 {
    font-size: 30px;
    margin: 40px 0px 10px 0px;
}
.some-point-bg h2 {
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}
.some-point-bg p {
    font-size: 16px;
    margin: 20px 0px 0px 0px;
    line-height: 22px;
}
.some-point-bg {
    padding: 60px 0px 50px 0px;
    margin: 20px 0px 20px 0px;
}
.full-description p {
    margin: 20px 0px 0px 0px;
    line-height: 22px;
}
.bag-img {
    margin: 20px 0px 20px 0px;
}
.leather-img2{
    margin: 20px 0px 20px 0px;
}
.result-description h3{
    font-size: 30px;
    margin: 40px 0px 10px 0px;
}
.result-description p {
    line-height: 22px;
}
.back-bag{
    font-size: 30px;
    margin: 20px 0px 10px 0px;
}
.size-app-description h3{
    font-size: 30px;
    margin: 40px 0px 10px 0px;
}
.size-app-description p {
    line-height: 22px;
}
.size-app-description h5 {
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}






.drish-story-banner img {
    width: 80px;
    top: 180px;
    left: 40px;
}
.drish-story-banner {
    padding: 100px 0px 210px 0px;
}
.drish-story h3 {
    font-size: 30px;
    margin: 50px 0px 0px 0px;
}
.drish-global {
    padding: 30px 50px 30px 50px;
}
.drish-global h3 {
    font-size: 30px;
}
section.customer-say img {
    max-height: 100%;
    height: 460px;
}
.customer-say h3 {
    font-size: 30px;
    margin: 0px 0px 10px 0px;
}
.customer-say {
    padding: 40px 0px 0px 0px;
}
}





/*------------for sm device----------------*/

@media (min-width: 768px) and (max-width: 991px){
.communicate-banner {
    padding: 50px 0px 50px 0px;
}
.communicate-banner h1 {
    font-size: 25px;
    margin: 0px 0px 0px 0px;
}
.communicate-banner p {
    font-size: 14px;
    margin: 10px 0px 10px 0px;
    line-height: 20px;
}
.price-description p {
    font-size: 16px;
    margin: 0px;
    line-height: 22px;
}
.communicate-banner h1 {
    font-size: 25px;
    margin: 0px 0px 20px 0px;
}
.container-fluid-two{
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.workers p {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.brand-identity h3 {
    font-size: 25px;
    margin: 0px 0px 10px 0px;
}
.brand-type h4 {
    font-size: 18px;
}
.brand-type p {
    font-size: 14px;
}
.talk-question h3 {
    font-size: 25px;
    margin: 0px 0px 10px 0px;
}
.brand-type {
    min-height: 170px;
}
.some-point-bg h2 {
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}
.some-point-bg p {
    font-size: 16px;
    margin: 20px 0px 0px 0px;
    line-height: 22px;
}
.some-point-bg {
    padding: 60px 0px 50px 0px;
    margin: 20px 0px 20px 0px;
}
.full-description p {
    margin: 10px 0px 0px 0px;
    line-height: 22px;
    font-size: 14px;
}
.bag-img {
    margin: 20px 0px 20px 0px;
}
.leather-img2{
    margin: 20px 0px 20px 0px;
}
.talk-question h3 {
    font-size: 25px;
    margin: 0px 0px 10px 0px;
}
.result-description h3{
  font-size: 25px;
    margin: 0px 0px 10px 0px;
}
.size-app-description h3{
  font-size: 25px;
    margin: 20px 0px 10px 0px;
}
.result-description p {
    line-height: 22px;
    font-size: 14px;
    margin-top: 10px;
}
.back-bag{
    font-size: 30px;
    margin: 20px 0px 10px 0px;
}
.talk-question h3 {
    font-size: 25px;
    margin: 0px 0px 10px 0px;
}
.size-app-description p {
    line-height: 22px;
    font-size: 14px;
    margin-top: 0px;
}
.size-app-description h5 {
    font-size: 17px;
    margin: 20px 0px 0px 0px;
}
.talk-question p {
    font-size: 14px;
    line-height: 22px;
}





.drish-story-banner img {
    width: 80px;
    top: 180px;
    left: 40px;
}
.drish-story-banner {
    padding: 100px 0px 210px 0px;
}
.drish-story h3 {
    font-size: 25px;
    margin: 30px 0px 0px 0px;
}
.drish-global {
    padding: 30px 50px 30px 50px;
}
.drish-global h3 {
    font-size: 25px;
}
section.customer-say img {
    max-height: 100%;
    height: 560px;
}
.customer-say h3 {
    font-size: 25px;
    margin: 0px 0px 10px 0px;
}
.customer-say {
    padding: 40px 0px 0px 0px;
}
.drish-story p {
    margin-top: 10px;
    padding: 0px;
    font-size: 15px;
    line-height: 22px;   
    margin-bottom: 30px;
}
.drish-global p {
    font-size: 15px;
    margin: 10px 0px 10px 0px;
    line-height: 22px;
}
.customer-say span {
    font-size: 15px;
    margin: 20px 0px 10px 0px;
    line-height: 22px;
}
.drish-story-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.drish-story-img img {
    height: auto;
    width: 100%;
    overflow: hidden;
    transform: translate(0px,-246px);
}
}







/*------------for xs device----------------*/

@media (max-width: 767px){
.communicate-banner {
    padding: 30px 0px 20px 0px;
}
.communicate-banner h1 {
    font-size: 25px;
    margin: 0px 0px 0px 0px;
}
.communicate-banner p {
    font-size: 14px;
    margin: 10px 0px 10px 0px;
    line-height: 18px;
}
.price-description p {
    font-size: 16px;
    margin: 0px;
    line-height: 22px;
    float: left;
}
.communicate-banner h1 {
    font-size: 17px;
    margin: 0px 0px 10px 0px;
}
.container-fluid-two{
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.workers p {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.brand-identity h3 {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}
.brand-type h4 {
    font-size: 16px;
}
.brand-type p {
    font-size: 14px;
}
.talk-question h3 {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}
.brand-type {
    min-height: 100%;
    margin-bottom: 10px;
}
.some-point-bg h2 {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
}
.some-point-bg p {
    font-size: 16px;
    margin: 20px 0px 0px 0px;
    line-height: 22px;
}
.some-point-bg {
    padding: 40px 0px 30px 0px;
    margin: 20px 0px 20px 0px;
}
.full-description p {
    margin: 10px 0px 0px 0px;
    line-height: 22px;
    font-size: 14px;
}
.bag-img {
    margin: 20px 0px 20px 0px;
}
.leather-img2{
    margin: 20px 0px 20px 0px;
}
.talk-question h3 {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}
.result-description h3{
  font-size: 20px;
    margin: 0px 0px 10px 0px;
}
.size-app-description h3{
  font-size: 20px;
    margin: 20px 0px 10px 0px;
}
.result-description p {
    line-height: 22px;
    font-size: 14px;
    margin-top: 10px;
}
.back-bag{
    font-size: 30px;
    margin: 20px 0px 10px 0px;
}
.talk-question h3 {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}
.size-app-description p {
    line-height: 22px;
    font-size: 14px;
    margin-top: 0px;
}
.size-app-description h5 {
    font-size: 15px;
    margin: 20px 0px 0px 0px;
}
.talk-question p {
    font-size: 14px;
    line-height: 22px;
}
.drish-story-banner img {
    width: 50px;
    top: 180px;
    left: 40px;
}
.drish-story-banner {
    padding: 60px 0px 210px 0px;
}
.drish-story h3 {
    font-size: 18px;
    margin: 20px 0px 0px 0px;
}
.drish-global {
    padding: 30px 0px 10px 0px;
}
.drish-global h3 {
    font-size: 18px;
}
section.customer-say img {
    display: none;

}
.customer-say h3 {
    font-size: 18px;
    margin: 20px 0px 10px 0px;
}
.customer-say {
    padding: 10px 0px 0px 0px;
}
.drish-story p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}
.drish-global p {
    font-size: 14px;
    margin: 10px 0px 10px 0px;
    line-height: 20px;

}
.customer-say span {
    font-size: 14px;
    margin: 20px 0px 10px 0px;
    line-height: 18px;
}
.customer-say p {
    font-size: 14px;
    margin: 10px 0px 10px 0px;
    line-height: 18px;
}
}