
@font-face {
	font-family:'HelveticaNeue-Regular';
	src: url('../fonts/theme-fonts/HelveticaNeue_gdi.eot');
	src: url('../fonts/theme-fonts/HelveticaNeue_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/theme-fonts/HelveticaNeue_gdi.woff') format('woff'),
		url('../fonts/theme-fonts/HelveticaNeue_gdi.ttf') format('truetype'),
		url('../fonts/theme-fonts/HelveticaNeue_gdi.svg#HelveticaNeue-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}
@font-face {
	font-family:'FuturaLT-Book';
	src: url('../fonts/theme-fonts/FuturaLT-Book_gdi.eot');
	src: url('../fonts/theme-fonts/FuturaLT-Book_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/theme-fonts/FuturaLT-Book_gdi.woff') format('woff'),
		url('../fonts/theme-fonts/FuturaLT-Book_gdi.ttf') format('truetype'),
		url('../fonts/theme-fonts/FuturaLT-Book_gdi.svg#FuturaLT-Book') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2122;
}
@font-face {
	font-family:'HelveNueThin-Regular';
	src: url('../fonts/theme-fonts/HelveNueThin_gdi.eot');
	src: url('../fonts/theme-fonts/HelveNueThin_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/theme-fonts/HelveNueThin_gdi.woff') format('woff'),
		url('../fonts/theme-fonts/HelveNueThin_gdi.ttf') format('truetype'),
		url('../fonts/theme-fonts/HelveNueThin_gdi.svg#HelveNueThin-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2122;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/theme-fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/theme-fonts/Gotham-Bold.otf')  format('opentype'),
	     url('../fonts/theme-fonts/Gotham-Bold.woff') format('woff'), url('../fonts/theme-fonts/Gotham-Bold.ttf')  format('truetype'), url('../fonts/theme-fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family:'TradeGothicLTStd-Light';
	src: url('../fonts/theme-fonts/TradeGothicLTStd-Light_gdi.eot');
	src: url('../fonts/theme-fonts/TradeGothicLTStd-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/theme-fonts/TradeGothicLTStd-Light_gdi.woff') format('woff'),
		url('../fonts/theme-fonts/TradeGothicLTStd-Light_gdi.ttf') format('truetype'),
		url('../fonts/theme-fonts/TradeGothicLTStd-Light_gdi.svg#TradeGothicLTStd-Light') format('svg');
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family:'DilleniaUPC-Regular';
	src: url('../fonts/theme-fonts/DilleniaUPC_gdi.eot');
	src: url('../fonts/theme-fonts/DilleniaUPC_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/theme-fonts/DilleniaUPC_gdi.woff') format('woff'),
		url('../fonts/theme-fonts/DilleniaUPC_gdi.ttf') format('truetype'),
		url('../fonts/theme-fonts/DilleniaUPC_gdi.svg#DilleniaUPC-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}
@font-face {
	font-family:'LetterGothicStd-Regular';
	src: url('../fonts/theme-fonts/LetterGothicStd_gdi.eot');
	src: url('../fonts/theme-fonts/LetterGothicStd_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/theme-fonts/LetterGothicStd_gdi.woff') format('woff'),
		url('../fonts/theme-fonts/LetterGothicStd_gdi.ttf') format('truetype'),
		url('../fonts/theme-fonts/LetterGothicStd_gdi.svg#LetterGothicStd-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
	font-family: 'Conv_upcdl_2';
	src: url('../fonts/theme-fonts/upcdl_2.eot');
	src: local('☺'), url('../fonts/theme-fonts/upcdl_2.woff') format('woff'), url('../fonts/theme-fonts/upcdl_2.ttf') format('truetype'), url('../fonts/theme-fonts/upcdl_2.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_LCALLIG_4';
	src: url('../fonts/theme-fonts/LCALLIG_4.eot');
	src: local('☺'), url('../fonts/theme-fonts/LCALLIG_4.woff') format('woff'), url('../fonts/theme-fonts/LCALLIG_4.ttf') format('truetype'), url('../fonts/theme-fonts/LCALLIG_4.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}