    /*
    Flaticon icon font: Flaticon
    Creation date: 20/06/2016 08:19
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-cart:before { content: "\f100"; }
.flaticon-cart-1:before { content: "\f101"; }
.flaticon-shopping-cart:before { content: "\f102"; }
.flaticon-shopping-cart-of-checkered-design:before { content: "\f103"; }
.flaticon-social:before { content: "\f104"; }
.flaticon-social-1:before { content: "\f105"; }
    
    $font-Flaticon-cart: "\f100";
    $font-Flaticon-cart-1: "\f101";
    $font-Flaticon-shopping-cart: "\f102";
    $font-Flaticon-shopping-cart-of-checkered-design: "\f103";
    $font-Flaticon-social: "\f104";
    $font-Flaticon-social-1: "\f105";